h1 Bilet do kina

p Chesz się wybrać do kina ze znajomymi. Zarezerwuj dla siebie miejsce w kinie Laguna na film #{Cinema::Movie.popular.first.title} i zapłać za bilet.

= link_to("Rozpocznij zadanie", Domain.url(:credible, :search, "/"), class: "btn btn-primary btn-lg")

br
br

h2 Zakończenie zadania

p Wpisz numer rejestracji zakupionego biletu.

= form_tag verify_participation_path, class: "form-inline" do
  = text_field_tag "reference", "", placeholder: "Numer rezerwacji", class: "form-control mr-2"
  = submit_tag "Zweryfikuj", class: "btn btn-primary"
