<h1>Dziękujemy</h1>

<div style="margin-bottom: 5px; border: solid 1px #ccc; background-color: #f8f8f8; padding: 5px;" id="tabs_area">
    <p style="font-weight:bold; text-align:center;">
      Twoja płatność została przekazana pomyślnie. Dziękujemy.
    </p>
</div>
<div class="clearfix"></div>