h1 Avatar

p #{@avatar.classroom.name}

p= @avatar.full_name
p= @avatar.address
p #{@avatar.postal_code}, #{@avatar.city}
p= @avatar.card_number
p= @avatar.card_cvv
p #{@avatar.card_expire_month} / #{@avatar.card_expire_year}
