<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl">
	<head>
	<title>Przelewy48</title>
	 
	  <meta http-equiv="content-type" content="text/html; charset=ISO-8859-2" />
	  <meta http-equiv="pragma" content="no-cache" /> 
	  <meta name="title" content="Przelewy24" />
	  <meta http-equiv="content-language" content="pl"/>
	  <meta name="description" content="Przelewy24"/>
	  <meta name="robots" content="index, follow"/>
	  <link rel="stylesheet" href="https://panel.przelewy24.pl/template/201406/style.css?ver=3" type="text/css"/>
	</head>
  <body>
  <div class="tlo">
      <div class="top">
        <div class="logo"><a  class="logo4" href="index.php"></a></div>
      </div>
  </div>
  	<div class="menu"><div class="menu2"></div></div>

    <div class="glowny">

  	 <table class="main">
  	   <tr>
  	     <td class="c1">
  	     	<ul class="no_header">
  				<li><a href="http://www.przelewy24.pl">Strona główna</a></li>
  			</ul>
  			<h4 class="kontakt">Kontakt</h4>
  			<div class="kontakt">
  				<span class="telefon">Telefon</span>
  				<p class="telefon">+48 61 64 293 46</p>
  				<span class="email">E-mail:</span>
  				<p class="email"><a href="mailto:partner@przelewy24.pl">partner@przelewy24.pl</a></p>
  			</div>
  			<br/>
  		</td>
  	    <td class="c2">

        <%= yield %>

        </td>
  	</tr>
  	</table>
  </div>
  <div class="stopka">
      <span>&copy; Copyright by Przelewy48, 2018</span>
  </div>
    
  </body>
</html>